body {
    background-color: #70ada4;
    background-image: url("https://images.unsplash.com/photo-1524673450801-b5aa9b621b76?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    font-family: 'CMUSerifRoman';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #e2e2e2;
    margin: 0;
}

h1 {
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
}

select:invalid {
    color: gray;
}

.text-center {
    text-align: center;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.content {
    width: 50%;
    margin: auto;
}

.main {
    width: 80%;
    background-color: #05050565;
    border-radius: 10px;
    margin: 70px auto 0 auto;
    padding: 50px;
}

@media (max-width: 768px) {
    .content {
        width: 80%;
    }

    .main {
        padding: 20px;
    }
}

.form-element {
    position: relative;
    display: block;
}

.input-field {
    height: 30px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.dropdown {
    height: 30px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.radio {
    padding-bottom: 10px;
}

.user-selection {
    float: left;
    margin-right: 5px;
}

#event-details {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;
    overflow: auto;
}

.button {
    vertical-align: middle;
    font-size: 1em;
    background-color: #6ba2ce;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-top: 20px;
}

#footer {
    padding: 30px 0px;
}
